__pycache__/
*.pyc

# Copyrighted materials not to be checked in
in/copyrighted/without-advance-permission

# Unicode data, including Unihan data. Information will need to be "manually"
# refreshed.
unicode/

# Vim
*.swp

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Miscellaneous
draft/
secrets/
localdevicenotes.txt
scratchpad.txt
tempnotes.md
