# Copyrighted materials not to be checked in
in/copyrighted/without-advance-permission

# Unicode data, including Unihan data
unicode/

# Vim
*.swp

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Miscellaneous
localdevicenotes.txt
scratchpad.txt
draft/
secrets/
