# Copyrighted materials not to be checked in
in/copyrighted/without-advance-permission

# Unicode data, including Unihan data
unicode/

# Vim
*.swp

# macOS
.DS_Store

# Miscellaneous
localdevicenotes.txt
scratchpad.txt
draft/
secrets/
